<mat-toolbar color="primary" class="header-toolbar">
    <span class="title">Zoo Management</span>
        <a mat-button routerLink="/about" routerLinkActive="active">About</a>
        <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a mat-button routerLink="/animals" routerLinkActive="active">Animals</a>
        <a mat-button routerLink="/staff" routerLinkActive="active">Staff</a>

    <span class="spacer"></span>
    
        <button mat-button [routerLink]="'/login'">Login</button>
        <button mat-button [routerLink]="'/register'">Register</button>
</mat-toolbar>

